

/* form {
 background-color: red;
 border-radius: 50px;   
} */

.nonowordbox{
    display: flex;
    /* flex-direction: column; */
    padding:5px;
    background-color: rgba(255,255,255,0.05);
    border-radius: 5px;
    gap:5px;
    align-items: center;
    flex-wrap: wrap;
}

.nonowordmessage{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
}
.nonowordtimestamp{
   background-color: rgba(255,255,255,0.05);
   border-radius: 5px;
   padding:5px;
   display: flex;
   gap:5px
}



.nonowordsholder{
    display: flex;
    flex-direction:column;

  
    gap:5px
}

.nonowordname{
   /* background-color: rgba(255,255,255,0.05);
   border-radius: 5px; */
   /* padding:5px; */
   color: #aaa;
   /* min-width: 100px; */
}





.nonoresultsholder{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding:15px;
}


.loglink{
    color: rgb(100,100,200);
     text-decoration: underline !important;    

}

.loglinkwhite{
        color: #eee;
     text-decoration: underline;    
}

.loglink:hover{
    
    background-color: rgba(255,255,255,0.05);
}

.badwordcounter{
     color: #aaa ;
       /* font-family: 'Whitney', sans-serif !important; */
       /* text-decoration-color: rgba(0,0,0,0) !important; */
}

.expandednameholder{
    display: flex;
        height: 70px;
    gap: 15px;
  
}

.playedwithholder{
       height: auto !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     column-gap: 2px;
     row-gap: 2px;
     overflow-y: hidden;
     /* padding: 5px; */
     max-height: 34px;
}

.playedwithholderholder{
         border-radius: 5px;
    background-color: rgba(255,255,255,0.05);
    display: flex;
    flex-direction: column;
    gap:5px;
    padding:5px;
}

.playedwithholder::-webkit-scrollbar {
  max-width: 0px;
  height: 0px;
  display: none;
}

.playedwithinfo{
    display: flex;
    gap: 5px;
    /* padding:5px; */
}


.playedwithperson{
     /* background-color: rgba(255,255,255,0.02); */
     flex-grow: 10;
     /* flex-basis: 1; */
     overflow: hidden;
     border-radius: 5px;
    display: flex;
    position: relative;
    align-items: center;
        color: rgb(100,100,200);
     text-decoration: none;
     border-width: 1px;
     border-style: solid;
     max-height: 32px;
     border-color: rgba(255,255,255,0.05);
}
.playedwithpersonpersonal{
         background-color: rgba(255,255,255,0.1);
}
.playedwithbad{
    height: 100%;

    background-color: rgba(0,0,0,1) !important;
    border-radius: 0px !important;
    /* box-shadow: none !important; */
}
.playedwithpercent{
    
    position: absolute;
    width: 5px;
    background-color: rgba(100,255,100,0.8);
    bottom:0px;
    z-index: -1;
    left:32px;
    border-radius: 1px 1px 0px 0px;
    /* box-shadow: 0px 0px  2px rgba(100,255,100,0.8); */

    
}

.playedwithnumber{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 5;

}


.playedwithphoto{
    /* position: absolute; */
    left: 0px;
    top:0px;
    z-index: -5;
    height: 32px;
    width: 32px;
    
}

.externalwebsiteholder{
    gap:15px;
    display: flex;
    flex-wrap: wrap;
}
.externalwebsite{
    background-color: rgba(255,255,255,0.05);  

    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;


}

.playedwithname{
    padding: 5px;
    padding-left: 10px;
    text-decoration: underline;
}

.goawayoverflow{
  text-overflow: ellipsis;
    overflow: hidden;

  white-space: nowrap;
}

