/* Links */
a {
  text-decoration: none;
}
#sidebar a {
  padding: 2px 10px;
  margin-left: -10px;
}
#sidebar a.is-active {
  background-color: #eee;
}

/* Reset */
body {
  margin: 0;
  font-family: "Whitney", sans-serif !important;
  color: #eee;
  background-color: rgb(11, 11, 11);
}
* {
  box-sizing: border-box;
}

/* Page Transition Animation */
/* #page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
} */
body.page-transition #page-content {
  opacity: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainthing {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* @font-face {
    font-family: 'OpenDyslexic';
    src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Regular.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Italic.woff');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Bold.woff');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;
} */

.flexstuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 200px;
  width: 60%;
}

.searchsuggestionholder {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(22, 22, 22);
  top: 0px;
  left: 0px;
}

.suggestion {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  max-height: 20px;
  height: 20px;
  border-radius: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.suggestion:hover {
  color: #88f;
  text-decoration: underline;

  /* text-decoration; */
}
.logcounter:hover {
  color: #88f;
  text-decoration: underline;

  /* text-decoration; */
}
.logcounter {
  color: #aaa;
}
